<div style="color: white; background-color: black;">
<footer id="colorlib-footer" role="contentinfo" >
  <div class="container">
    <div class="row row-pb-md">
      <div class="col footer-col colorlib-widget">
        <h4 style="color: white;">About Footwear</h4>
        <p style="color: white;">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
        <p style="color: white;">
          <ul class="colorlib-social-icons">
            <li ><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-linkedin"></i></a></li>
            <li><a href="#"><i class="icon-dribbble"></i></a></li>
          </ul>
        </p>
      </div>
      <div class="col footer-col colorlib-widget">
        <h4 style="color: white;">Customer Care</h4>
        <p >
          <ul style="color: white;" class="colorlib-footer-links">
            <li ><a style="color: white;"href="#">Contact</a></li>
            <li><a style="color: white;"href="#">Returns/Exchange</a></li>
            <li><a style="color: white;"href="#">Gift Voucher</a></li>
            <li><a style="color: white;"href="#">Wishlist</a></li>
            <li><a style="color: white;"href="#">Special</a></li>
            <li><a style="color: white;"href="#">Customer Services</a></li>
            <li><a style="color: white;"href="#">Site maps</a></li>
          </ul>
        </p>
      </div>
      <div style="color: white;" class="col footer-col colorlib-widget">
        <h4 style="color: white;">Information</h4>
        <p >
          <ul style="color: white;" class="colorlib-footer-links">
            <li><a style="color: white;" href="#">About us</a></li>
            <li><a style="color: white;" href="#">Delivery Information</a></li>
            <li><a style="color: white;"href="#">Privacy Policy</a></li>
            <li><a style="color: white;"href="#">Support</a></li>
            <li><a style="color: white;"href="#">Order Tracking</a></li>
          </ul>
        </p>
      </div>

      <div class="col footer-col">
        <h4 style="color: white;">News</h4>
        <ul class="colorlib-footer-links">
          <li><a style="color: white;"href="#">Press</a></li>
          <li><a style="color: white;"href="#">Exhibitions</a></li>
        </ul>
      </div>

      <div class="col footer-col">
        <h4 style="color: white;">Contact Information</h4>
        <ul class="colorlib-footer-links">
          <li>291 South 21th Street, <br> Suite 721 New York NY 10016</li>
          <li><a  style="color: white;" href="tel://1234567920">+ 1235 2355 98</a></li>
          <li><a style="color: white;"href="mailto:info@yoursite.com">info@yoursite.com</a></li>
          <li><a style="color: white;"href="#">yoursite.com</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copy">
    <div class="row">
      <div class="col-sm-12 text-center">
        <p>
        </p>
      </div>
    </div>
  </div>
</footer>
</div>

<div class="gototop js-top">
<a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
</div>
</div>