<!DOCTYPE HTML>
<html>
	<head>
	<title>Footwear - Free Bootstrap 4 Template by Colorlib</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">
	
	<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sofia&display=swap" rel="stylesheet">




	<!-- Animate.css -->
	<link rel="stylesheet" href="/userasset/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/userasset/css/icomoon.css">
	<!-- Ion Icon Fonts-->
	<link rel="stylesheet" href="/userasset/css/ionicons.min.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/userasset/css/bootstrap.min.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/userasset/css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="/userasset/css/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="/userasset/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/userasset/css/owl.theme.default.min.css">
	
	<!-- Date Picker -->
	<link rel="stylesheet" href="/userasset/css/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="/userasset/fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/userasset/css/style.css">

	<script src="/userasset/js/zoom.js"></script>
	<script src="/userasset/js/bootstrap.min.js"></script>
	<script src="/userasset/js/popper.min.js"></script>
	<script src="/userasset/js/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.3.js"
			integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
		<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
		<script src="https://kit.fontawesome.com/663ba753ef.js" crossorigin="anonymous"></script>

	
	<!-- jqueary & Ajax -->




<link rel="stylesheet" href="/userasset/css/zoom.css">

	</head>
	
	<body style="overflow-x: hidden;">